@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';

:root {
  /* purple */
  --color-purple: #8590f5;
  --color-purple-dark: #727ff3;
  --color-purple-light: #e7eafd;
  /* gray */
  --color-black: #16171d;
  --color-gray-dark: #bebfc0;
  --color-gray-medium: #d8d8d9;
  --color-gray-light: #f2f2f2;
  --color-white: #fcfcfc;
  /* yellow */
  --color-yellow: #f2fc83;
  --color-yellow-dark: #edfb51;
  --color-yellow-light: #fafecd;
  /* alerts */
  /* ... */
  /* tertiary */
  /* ... */

  /* fonts */
  --font-sans: 'Poppins', -apple-system, sans-serif;
  --font-mono: Menlo, Monaco, monospace;
  --font-sx: 12px;
  --font-sm: 14px;
  --font-md: 16px;
  --font-lg: 18px;
  --font-h3: 24px;
  --font-h2: 32px;
  --font-h1: 40px;
  --font-h1-display: 56px;
  --line-height-dense: 1.333;
  --line-height-normal: 1.5;
  --line-height-loose: 1.75;

  /* spaces and positions */
  --space-1: 1px;
  --space-2: 2px;
  --space-4: 4px;
  --space-8: 8px;
  --space-16: 16px;
  --space-24: 24px;
  --space-32: 32px;
  --space-40: 40px;
  --space-56: 56px;
  --space-64: 64px;
}

html {
  background-color: var(--color-gray-light);
  font: var(--font-sans);
  font-size: var(--font-md);
  line-height: var(--line-height-normal);
  margin: 0 auto;
  max-width: 1440px;
  min-width: 360px;
  /* defaults */
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  color: var(--color-black);
  font-family: sans-serif;
  font-family: var(--font-sans);
  font-weight: normal;
  margin: 0 var(--space-4);
  /* defaults */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  margin: auto;
}

/* fonts */

h1,
h2,
h3 {
  font-weight: 600;
  line-height: var(--line-height-dense);
}

h4,
h5 {
  line-height: var(--line-height-normal);
}

h1 {
  font-size: var(--font-h1);
}

h2 {
  font-size: var(--font-h2);
}

h3 {
  font-size: var(--font-h3);
}

h4 {
  font-size: var(--font-lg);
}

h5 {
  font-size: var(--font-md);
}

h1.display {
  font-size: var(--font-h1-display);
  font-weight: 700;
  line-height: var(--line-height-normal);
}

p {
  font-size: var(--font-md);
  font-weight: 400;
  line-height: var(--line-height-normal);
}

p.caption {
  font-size: var(--font-sx);
  line-height: var(--line-height-dense);
}

p.small {
  font-size: var(--font-sm);
}

p.large {
  font-size: var(--font-lg);
  line-height: var(--line-height-dense);
}

strong {
  font-weight: 600;
}

button {
  font-size: var(--font-md);
  font-weight: 600;
  line-height: var(--line-height-normal);
}

button.large {
  font-size: var(--font-lg);
  line-height: var(--line-height-dense);
}

@media (max-width: 768px) {
  h1.display {
    font-size: var(--font-h2);
  }
}
