.guestCardContainer {
  background-color: var(--color-white);
  border-radius: var(--space-16);
  box-shadow: 0 0 var(--space-16) rgba(143, 143, 143, 0.1);
  height: 225px;
  width: clamp(225px, 100%, 316px);
}
